@using ECartOnlineShop.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "ProductsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Products List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Add New Product </a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class=" table-info">
                <th>
                    @Html.DisplayNameFor(c => c.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductRating)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductImage)
                </th>

                <th>
                    @Html.DisplayNameFor(c => c.ProductCategory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.ProductDescription</td>
                    <td>@item.ProductRating</td>
                    <td>@item.ProductImage</td>

                    <td>@item.ProductCategory</td>


                    <td style="width: 150px" align="right">
                        <div class="btn-group">

                            <a asp-action="Edit" asp-controller="Products" class="btn btn-primary" asp-route-id="@item.ProductId"><i class="fa fa-edit"></i></a>&nbsp;

                            <a asp-action="Details" asp-controller="Products" class="btn btn-success" asp-route-id="@item.ProductId"><i class="fa fa-list-ul"></i></a>&nbsp;

                            <a asp-action="Delete" asp-controller="Products" class="btn btn-danger" asp-route-id="@item.ProductId"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}